body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 10px;
  margin: 0;
}
.div_principal { 
  width: 800px;
  height: 470px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(49, 49, 49);
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  padding-top: 20px; /* Añade un poco de espacio en la parte superior */
}
.logo_container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px; /* Espacio entre la imagen y el formulario */
}

#loguito {
  width: 100px; /* Ajusta este valor según lo necesites */
  height: auto; /* Mantener proporciones */
}
.div_division1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
.div_inputs,
.div_combobox {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  padding: 10px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  height: 100px;
  margin: 0 10px;
}
.div_inputs {
  width: 350px; /* Ajusta el ancho de los divs hijos */
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 1px; 
}
.div_combobox{
  width: 350px; /* Ajusta el ancho de los divs hijos */
  height: 130px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
input {
  width:100px;
  margin: 5px 0; 
  border-radius: 10px;
  padding: 0 5px;
  border-style:none;
}
#cbtiposervicio {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(75, 74, 74);
  color:aliceblue;
}
.div_textarea {
  border-style: solid;
  border-width: 1px;
  width: 720px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  padding: 10px;
  margin: 20px 0 0 20px; 
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center;
}
#descripcion {
  max-width: 600px;
  min-width: 600px;
  max-height: 100px;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 5px 5px;
}
#lbldescripcion {
  margin-bottom: 5px; /* Reducir el espacio entre la etiqueta y el textarea */
  align-self: flex-start; /* Alinea la etiqueta a la izquierda */
}
.div_botones {
  display: flex;
  justify-content: center; /* Distribuir espacio entre los botones */
  width: 100%;
  margin-top: 30px;
}
#btregresar {
  background-color: rgb(79, 199, 159);
  width: 100px;
  height: 45px;
}
#btenviar {
  width: 120px;
  height: 45px;
}
button{
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  border-width: 1px;
  font-size: 8px;
  padding: 5px;
  margin: 0 30px;
}
