body{
    min-height: 100vh;
    min-width: 100vh;
    display: grid;
    grid-template-rows: 8% auto 5%;
    row-gap: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

header{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

.encabezado{
    height: 75%;
    min-width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado__logo{
    display: flex;
    width: 20vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(5%);
}

.encabezado__logo img{
    width: auto;
}

.encabezado__saludo{
    height: 100%;
    min-width: 100%;
    border-radius: 40px;
    background-color: hsl(220, 9%, 19%);
    color: white;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.encabezado__saludo span{
    font-size: x-large;
}


main{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 60%;
    height: 50%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 18%);
    row-gap: 8%;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
}

.menu_fila_uno, .menu_fila_dos, .menu_fila_tres {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 30%);
    column-gap: 4%;
    justify-content: center;
}

.menu_fila_tres{
    grid-template-columns: repeat(2, 30%);
}

.menu_fila_uno div, .menu_fila_dos div, .menu_fila_tres div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form{
    width: 100%;
    height: 100%;
}

button, a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    background-color: #2C2F35;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    transition: 0.4s;
}

#cerrar_sesion{
    background-color: #FF5757;
}

button:hover, a:hover{
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    transition: 0.4s;
    color: #8CFFA9;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.7);
}
#cerrar_sesion:hover{
    color: white;
}


footer{
    height: 100%;
    width: 100vw;
    background-color:#2C2F35;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MODAL*/
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.wrapper {
    width: 750px;
    background: #2C2F35;
    border-radius: 25px;
    color: #FDF9FC;
    padding: 40px 35px 45px;
    position: relative; 
}

.wrapper h1 {
    font-size: 30px;
    text-align:center;
    margin-bottom: 40px;
    position: relative;
    margin-top: 10px;
}

.wrapper .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    position: relative;
    width: 49%;
    height: 50%;
    background: #515966;
    margin: 5px 0;
    border-radius: 10px;
}

.input-box .input-field input,
.input-box .input-field select {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid #515966;
    outline: none;
    font-size: 16px;
    color: #FDF9FC;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder,
.input-box .input-field select::placeholder {
   color: #FDF9FC; 
}

.input-box .input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #09C46A;
}

.input-field i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #09C46A;
}

.input-field select ~ i {
    margin-left: 0px;
}

.wrapper label {
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
}

.wrapper label input {
    accent-color: #FDF9FC;
    margin-right: 5px;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background:#09C46A;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #FDF9FC;
    margin-top: 30px;
}

.input-field select {
    appearance: none;
}

.input-field select option {
    background-color: #FDF9FC;  
    color: #2C2F35;  
}
.close {
    color: #FDF9FC;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    z-index: 200;
    top: 30px;
    right: 50px;
}

.close:hover,
.close:focus {
    color: #09C46A;
    text-decoration: none;
    cursor: pointer;
}

