/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

/* Encabezado */
header {
    background-color: #2C2F35;
    color: #FDF9FC;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.juntarlogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.espacio-separacion {
    margin-left: 20px;
}

.logo img {
    max-width: 200px;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

.menu-btn,
.cart button {
    background-color: transparent;
    border: none;
    color: #09C46A;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

.container {
    position: relative;
}

input {
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
}

#botonBusqueda {
    background: #09C46A;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    cursor: pointer;
}

#botonBusqueda:hover {
    background-color: #515966;
}
/* Menú desplegable (oculto) */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 109px; /* Ajusta según sea necesario */
    left: 0;
    background-color: #ede8ec;
    border: 1px solid #ede8ec;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    border-bottom: 1px solid #ede8ec;
}

.dropdown-menu ul li a {
    display: block;
    padding: 10px 60px;
    text-decoration: none;
    color: #515966;
    font-weight: bold;
}

.dropdown-menu ul li a:hover {
    color: #09C46A;
}

/* Main */
.product-wrapper {
    width: 80%; 
    margin: 10px auto;
}

.product-container {
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 10px;
    padding: 10px;
    height: 300px;
    width: 260px;
    border: 1px solid #9B9B9B;
    border-radius: 15px;
    text-align: center;
}

.product img {
    min-width: 100%;
    min-height: 180px;
    border-radius: 15px;
}

.product h3 {
    margin: 10px 0 0 15px;
    font-size: 18px;
    display: flex;
}

.product p {
    margin: 5px 0 0 15px;
    font-size: 14px;
    display: flex;
}

.product button {
    margin-top: 10px;
    padding: 5px 0;
    height: 28px;
    width: 90%;
    background-color: #09C46A;
    color: #FDF9FC;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.product button:hover {
    background-color: #515966;
}

/* Pie de página */
footer {
    background-color: #2C2F35;
    color: #FDF9FC;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.consult button {
    background-color: transparent;
    border: 1px solid #2C2F35;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FDF9FC;
    cursor: pointer;
}

.consult button i {
    color: #09C46A;
    font-size: 20px;
}

.consult button:hover {
    color: #09C46A;
}

.consult button:hover i {
    color: #FDF9FC;
}

.social p {
    margin: 0;
}

.social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social ul li {
    display: inline;
    margin-right: 10px;
}

.social ul li a {
    color: #09C46A;
    font-size: 20px;
}

.social ul li a i:hover {
    color: #FDF9FC;
}